body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-image: white;
  padding: 20px;
  border-radius: 8px;
}

.input-box-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  justify-content: start;
}

.custom-radio {
  display: flex;
  align-content: center;
  align-items: end;
}
/* Increase size and customize appearance */
.custom-radio input[type="radio"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

/* Green selection indicator */
.custom-radio input[type="radio"]:checked {
  border-color: #bababa;
  background-color: #e3e4e4;
}

/* Optional: add inner dot */
.custom-radio input[type="radio"]::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #45b035;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  display: none;
}

.custom-radio input[type="radio"]:checked::after {
  display: block;
}

.drug-box-title {
  text-align: center;
  background: #007e41;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 1px 0 1px 0;
}

.drug-info-box,
.cycle-info-box {
  background: white;
  /* background: #dc3545; */
  border-radius: 0 0 10px 10px ;
  border: 1px solid #68b64b;
  padding: 1px 0 1px 0;
  margin-top: -13px;
  text-align: center;
}

/* .drug-info-box {
  background-image: url("/Assets/DrugCostField.png");
}

.cycle-info-box {
  background-image: url("/Assets/CycleField.png");
} */


/* Hide arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: none;
}


.drug-info-box input,
.cycle-info-box input {
  width: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-style: none;
}


.drugCost:focus,.cycle:focus {
  border: none;
  outline: none;
}


.main-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.insurance-box-title {
  text-align: center;
  background: #4a8c38;
  /* background: #68b64b; */
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  padding: 1px 0 1px 0;
}

.left-panel {
  width: 100%;
  max-width: 100%;
}

.insurance-status-box {
  background: white;
  /* background: #dc3545; */
  border-radius: 0 0 10px 10px;
  border: 1px solid #68b64b;
  padding: 1px 0 1px 0;
  margin-top: -13px;
}

hr {
  width: 90%;
  border: 1px solid #68b64b;
  border-style: dotted;
}

.insurance-type-title {
  text-align: center;
   /* color: #68b64b; */
   color: #3E602F;
}
.insurance-exisitance-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem;
}

.insurance-type-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem;
}

.smallFont {
  font-size: small;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.radio-label input[type="radio"] {
  transform: scale(1.2);
}

.income-box {
  margin-top: 20px;
}

.income-box select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* .left-panel,
.right-panel {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
} */

/* .left-panel,
.center-panel h3,
.right-panel h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.left-panel label,
.right-panel li {
  display: block;
  margin-bottom: 8px;
} */

select {
  width: 100%;
  padding: 6px;
  margin-top: 8px;
}

.bar {
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  border-radius: 4px;
}

.bar.total {
  background-color: #333;
}

.bar.insurance {
  background-color: #28a745;
}

.bar.support {
  background-color: #17a2b8;
}

.bar.personal {
  background-color: #dc3545;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 10px;
  margin-top: 30px;
  text-align: center;
}

.footer button {
  padding: 20px 20px;
  margin: 0 10px;
  font-size: larger;
  /* background-color: #68b64a; */
  background-color: #4a8c38;
  color: white;
  border: none;
  border-radius: 2rem;
}

/* income drop down  styles*/
.income-drop-box {
  /* display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 10px; */
  display: grid;
  position: relative;
}

.income-range {
  margin-top: 1rem;
  text-align: center;
  background: #4a8c38;
  /* background: #68b64b; */
  border-radius: 10px 10px 0 0;
  color: white;
  /* padding: 1px 0 1px 0; */
}

.medical-expense-div {
  position: absolute;
  right: 24px;
  place-items: center;
  text-align: center;
  text-wrap: wrap;
  font-size: 12px;
  margin-top: 1rem;
  cursor: pointer;
}

.medical-expense-div p {
  color: black;
  background-color: #c1edb1;
  padding: 5px;
}

.income-radio-btn-div {
  position: relative;
  background: #fafafa;
  border-radius: 0 0 10px 10px;
  border: 1px solid #68b64b;
  padding: 1px 0 1px 0;
  margin-top: -13px;
}

.income-radio-btn-subdiv {
  padding: 1rem;
}

.radio-btn-div-one,
.radio-btn-div-two {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem;
}

.medical-expense-title {
  text-align: center;
    /* background: #68b64b; */
    background: #4a8c38;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 1px 0 1px 0;
}

.medical-info-box {
  background: #eeffe3;
  /* background: #dc3545; */
  border-radius: 0 0 10px 10px;
  border: 1px solid #68b64b;
  padding: 1.6rem 0 1px 0;
  margin-top: -13px;
}

.medical-sub-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  padding: 2rem;
  align-items: end;
}

.bar-area {
  border: 1px solid #acd494;
  width: 108px;
  height: 325px;
  border-radius: 12px;
  background: #68b64a;
  overflow: hidden;
  position: relative;
}

/* .dynamic-bar-bg { */
/* animation: fillBar 1s .5s forwards; */
/* height: 0; */
/* transition: height 0.8ms ease-in-out; */
/* } */

.bar-segment {
  width: 100%;
  /* transition: height 1.2s ease-in-out; */
  animation: fillBar 1.2s ease-out forwards;
}

#bar-indemnity {
  background-color: #fafafa;
}
#bar-median {
  background-color: #bddba5;
}
#bar-outofpocket {
  background-color: #943F00;
  /* background-color: #eb6100; */
}
/* .bar-area-vertical {
  width: 40px;
  height: 200px;
  background-color: #e0e0e0;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.bar-fill-vertical {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #68b64a;
  animation: fillBar 1.2s ease-out forwards;
} */

/* Keyframes for color transition and height animation */
@keyframes fillBar {
  0% {
    height: 0%;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bar-ballon-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar-ballon {
  border: 1px solid #acd494;
  width: 200px;
  height: 65px;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  gap: 10px;
}

.bar-ballon:nth-child(1) {
  border: none;
  background-color: #eeffe3;
}
.bar-ballon:nth-child(4) {
    background-color: #ddf6cb;
    color: #274C1F;
}

.bar-ballon:nth-child(5) {
  background-color: #68b64a;
  color: white;
}

/* JavaScript class */
.def-sum {
  font-weight: bold;
  text-align: center;
}

.disabled {
  opacity: 0.3;
}

.resetBtn {
  background: #68b64a;
}


/* Responsive adjustments */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .drug-info-box input,
  .cycle-info-box input {
    font-size: 14px;
    width: 90%;
  }

  .radio-label {
    font-size: 14px;
    padding: 5px 10px;
  }

  .radio-label input[type="radio"] {
    transform: scale(1);
  }

  .radio-btn-div-one,
  .radio-btn-div-two {
    font-size: x-small;
  }

  .medical-sub-div {
    display: grid;
    grid-template-columns: 60px 150px
  }

  
  .medical-expense-div p {
    display: none;
  }


  .medical-sub-div .bar-area {
    width: 50px;
  }

  .bar-ballon {
    width: 150px;
  }

  .def-sum {
    font-size: x-small;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .input-box-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .main-layout {
    display: flex;
    flex-direction: column;
  }

  .drug-info-box input,
  .cycle-info-box input {
    font-size: 13px;
    border-style: none;
  }

  .income-radio-btn-subdiv {
    padding: 0.5rem;
  }

  .medical-expense-div p {
   
    display: none;
  }

  .bar-area{
    width: 60px;
    height: 345px;
  }

  .medical-sub-div {
    display: grid;
    grid-template-columns: 60px 200px;
    justify-items: start;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 1rem;
  }

  .bar-ballon {
    border: 1px solid #acd494;
    /* width: 120px; */
    height: 70px;
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    gap: 5px;
  }

  .def-sum {
    font-size: 12px;
  }

  .footer button {
    padding: 15px;
    font-size: small;
  }
}
